<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProjetoPim.Properties.Settings.testHConnectionString"
            connectionString="Data Source=LAPTOP-0I533N03\SQLEXPRESS;Initial Catalog=testH;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ProjetoPim.Properties.Settings.DataSourceConnectionString"
            connectionString="Data Source=PIMHOTELARIAUNIP.mssql.somee.com;User ID=allangoncalves_SQLLogin_5;Password=vxr5e2erec"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>